css
body{font-family:Arial, sans-serif;background: color #f0f0f0;}
h1{color: #333;}
table, th, td{border: 1px solid black;}
table{width: 100%;
border: 1px solid black;
border-collapse: collapse}
th,td{border: 1px solid black;
padding: 8px;
text-align:left;}